$white: #fff;
$black: #000;

$wash: #555;
$light-wash: #aaa;

$red: #FF785F;
$green: #47BF70;
$yellow: #FFD43F;
$blue: #418DA6;



body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;

  background: url('assets/background.jpg') top right no-repeat; background-attachment:fixed;

  h1, h2, h3 {
    margin: 0px;
    margin-top: 20px;
  }

  h1, h2, h3, a, p, span {
    &.white {
      color: $white;
    }
  }
}

.center {
  text-align: center;
}

nav {
  height: 150px;
  width: 100vw;
  display: block;
  background-color: $wash;
  position: fixed;
  top: 0;
  z-index: 1;
  ul {
    float: right;
    list-style: none;
    margin-top: 0;
    margin-right: 16px;
    height: 100%;
    li {
      font-size: 28px;
      height: 100%;
      vertical-align: middle;
      line-height: 150px;
      float: left;
      padding: 0px 20px;
      cursor: pointer;
      color: $white;
      background-color: $wash;

      &:hover, &.selected {
        background-color: $light-wash;
      }
  
    }
  }
}

.wrapper {
  margin-top: 150px;
}

.section {
  display: block;
  width: calc(100vw - 32px);
  margin: 0px;
  padding: 40px 16px;
  &.red {
    background-color: $red;
  }
  &.green {
    background-color: $green;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.intro {
    animation: pulse 5s infinite;
  }

  .col {
    width: 33%;
    display: inline-block;
    // float: left;
  }
}

#profile-picture {
  margin-top: 60px; 
  width: 300px;
  border-radius: 150px;
  border: 1px $white solid;
}

#name {
  font-size: 60px;
  margin-top: 50px;
}

.caroussel {
  // width: 100%;
  position: relative;
  margin: 1em;
  // overflow: hidden;
  height: 230px;

  #work1 {
    background: url('assets/facebook.png') no-repeat;
    background-size: contain;
  }
  
  #work2 {
    background: url('assets/allstate.png') no-repeat;
    background-size: contain;
  }
  
  #work3 {
    background: url('assets/cs196.png') no-repeat 20px 20px;
    background-size: contain;
  }

  ul {
    width: calc(100% - 100px);
    height: 100%;
    margin: 0px;
    margin-left: 50px;
    list-style: none;
    background-color: $white;
    -webkit-padding-start: 0px; 
    overflow: hidden;
    li {
      -webkit-transition: margin-top 2s;
      display: block;
      float: left;
      width: 100%;
      height: 100%;

      line-height: 200px;
      text-align: center;

      .center {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }
  }

  .controls {
    display: block;
    width: 50px;
    position: absolute;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: $white;

    &#prev {
      left: 0px;
    }

    &#next {
      right: 5px;
    }
  }


}

@keyframes pulse {
  0% {
    background-color: $red;
  }
  25% {
    background-color: $green;
  }
  50% {
    background-color: $yellow;
  }
  75% {
    background-color: $blue;
  }
  100% {
    background-color: $red;
  }
}